/*Tudo*/
* {
    border: 1px solid rgba(255, 0, 0, 0);
  }
  
  * {
    padding: 0px;
    margin: 0px;
    font-family: Mate SC;
  
  }
  
  /*Fim tudo*/
  
  /*Header*/
  #foto2 {
    margin-left: 0%;
  }
  
  .foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
  
  #foto2 {
    margin-left: 28%;
  }
  
  #foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  #botlogo {
    margin-right: 10%;
    margin-top: -19px;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
  }
  
  .logincerto {
    align-content: center;
  }
  
  .botoes {
    background-color: #DFC451;
    border-radius: 10px;
    border-color: #ffffff00;
    height: 50px;
    width: 150px;
    font-family: Mate SC;
    font-size: 29px;
    margin-bottom: 20px;
    margin-left: 30px;
    
  }
  
  .botoes:hover {
    background-color: #DFC451;
    box-shadow: 5px 2px #DFC451;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  .botoess {
    background-color: #DFC451;
    border-radius: 10px;
    border-color: #ffffff00;
    height: 50px;
    width: 150px;
    font-family: Mate SC;
    font-size: 29px;
    margin-bottom: 20px;
    margin-left: 60px;
  }
  
  .botoess:hover {
    background-color: #DFC451;
    box-shadow: 5px 2px #DFC451;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  .botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 10px;
    align-items: center;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: #DFC451;
    z-index: 1;
    width: 100%;
    height: 10%;
   
  }
  /*Fim header*/
  

  
  /*Inicio Corpo*/
  
  html{
   background-color: #F6EEE5;
  }
  
.comeco{
    background-color: #BF935E ;
    height: 600px;
    width: 85%;
    margin-left: 150px;
    margin-top: 130px;
}

#imagemmeio{
    width: 1400px;
    height: 450px;
    margin-left: 80px;
}
#titulo{
   margin-left: 150px;
   margin-top: 60px;
}

.oq{
    background-color: #D9C896;
    width: 85%;
    height: 770px;
    margin-left: 150px;
}

.qu{
  background-color: #D9C896;
  width: 85%;
  height: 500px;
  margin-left: 150px;
}


.cr{
  background-color: #D9C896;
  width: 85%;
  height: 300px;
  margin-left: 150px;
}

.di{
  background-color: #947317;
  width: 85%;
  height: 800px;
  margin-left: 150px;
}

#h11{
    color: white;
    font-size: 60px;
    margin-left: 390px;
    margin-top: 20px;
}


#h01{
  color: white;
  font-size: 60px;
  margin-left: 130px;
  margin-top: 20px;
}

#astig1{
    margin-left: 400px;
    width: 700px;
    
}





#ahm{
  width: 770px;
  margin-left: 340px;
}


#p1{
    color: white;
    font-size: 30px;
    margin-left: 100px;
  }
  
  
  #p2{
    color: white;
    font-size: 30px;
    margin-left: 360px;
    margin-top: -450px;
    margin-bottom: 10px;
  }
  
  #p{
    color: white;
    font-size: 30px;
    margin-left: 73px;
  }

 

  #meio{
    margin-left: 220px;
width: 1400px;
height: 600px;
    
  }
  
  #titumeio{
    margin-top: -480px;
    color: white;
    font-size: 40px;
    margin-left: 840px;
  }

  #titumeio2{
    color: white;
    font-size: 30px;
    margin-left: 710px;
  }

  #titumeio3{
    color: white;
    font-size: 30px;
    margin-left: 670px;
  }














  
  footer{
  background-color: #BF935E;
    width: 100%;
    margin-top: 200px;
    height: 470px;
  }
  
  
  #pp{
    color: white;
    font-size: 28px;
    margin-left: 73px;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  #p11{
    color: white;
    font-size: 30px;
    margin-left: 80px;
   
  }
  