/*Tudo*/
html{
    height: 2000px;
}
/*Header*/
#foto2 {
    margin-left: 0%;
  }
  
  .foto {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
  
  #foto2 {
    margin-left: 28%;
  }
  
  #foto2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  #botlogo {
    margin-right: 15%;
  }
  
  .topico {
    padding: 0px;
    margin-bottom: 0px;
  }
  
  .logincerto {
    align-content: center;
  }
  
  .botoes {
    background-color: #DFC451;
    border-radius: 10px;
    border-color: #ffffff00;
    height: 50px;
    width: 150px;
    font-family: Mate SC;
    font-size: larger;
    margin-bottom: 10%;
  }
  
  .botoes:hover {
    background-color: #93D1FF;
    box-shadow: 5px 2px #4b93ca;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  .botao {
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 10px;
    align-items: center;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: #DFC451;
    z-index: 1;
    width: 100%;
    height: 10%;
  }
  
  /*Fim header*/

/*Meio*/
.meio{
    background-color: #ECE4D1;
    width: 100%;
    height: 580px;
    margin-top: 40px;
}